.box-blue{
    display: flex;
    padding: 10px 15px;
    border: 5px solid #009EFF;
    & .box-blue__text{
        flex-grow: 1;
        & h4{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin: 10px 0 5px;
            text-transform: uppercase;
            & span{
                color: #009EFF;
            }
        }
        & p{
            font-size: 14px;
            line-height: 17px;
            width: 75%;
        }
    }
    & .box-blue__img{
        width: 87px;
        height: 120px;
        flex: 0 0 auto;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}