.box-grey{
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
    border: 5px solid #99999960;
    & h4{
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        padding: 0 80px;
        margin-bottom: 5px;
        & span{
            font-weight: 700;
        }
    }
    & .box-grey__price{
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        margin: 19px 0;
        & span{
            font-weight: 300;
            font-size: 22px;
            line-height: 27px;
            display: block;
            text-decoration: line-through;
        }
    }
}