.btn-green{
    border: 2px solid #6ACD68;
    color: #6ACD68;
    background-color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 5px 15px;
    min-width: 105px;
}