html{
    scroll-behavior: smooth;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    height: 100%;
    text-rendering: optimizeSpeed;
    font-family: 'Proxima-Nova', sans-serif;
    /* font-family: 'Exo 2', sans-serif; */
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    color: #323941;
}

/* .wrapper-body{
min-height: 100vh;
display: flex;
flex-direction: column;
} */

.container{
    padding: 0 10px;
    &--padding{
        padding: 0 0 0 10px;
    }
}
@media (min-width: 768px){
    .container{
        width: 728px;
        margin: 0 auto;
    }
}
@media (min-width: 1376px){
    .container{
    width: 987px;
    padding: 0 15px;
    }
}
/* @media (min-width: 1920px){
    .container{
    width: 1500px;
    }
} */

.main-wrapp{
    &.shadow{
        position: relative;
        &::before{
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #1E1E3B;
            opacity: 0.7;
            z-index: 2;
        }
    }
}

@mixin font($weight ,$size , $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

/* @import "../styles/blocks/title.scss"; */

